= link_to "Create a new timer", new_timer_path, :class => "button success"

%ul.small-block-grid-4
  - @timers.each do |timer|
    %li.timer-block
      %h4= timer.name
      %h5
        - if timer.description.length > 40
          = "#{timer.description[0..40]}..."
        - else
          = timer.description
      %input{:value => "#{timer.remaining_duration}", :class => 'knob-timer'}
      %br
      %span
        - if timer.sms_notification.present?
          [SMS]
        - if timer.twitter_notification.present?
          [Tweet]

- content_for :script do
  :javascript
    $(document).ready(function(){
      $('.knob-timer').knob({
        readOnly : true,
        max      : #{Timer::MAX_DURATION}
      });

      setInterval(function(){
        $('.knob-timer').each(function(){
          var original = $(this).val();

          if(original > 0){
            $(this).val(original - 1).trigger('change');
          } else {
            $(this).parents('li:first').fadeOut('slow', function(){
              $(this).remove();
            });
          }
        });
      }, 1000);

    });
  