= simple_form_for @timer do |f|
  = f.input :name
  .duration-slider
  = f.input :duration, :as => :hidden, :input_html => {:value => Timer.default_duration}

  = f.simple_fields_for :notifications do |notification_form|
    = notification_form.input :type, :as => :hidden
    = notification_form.input :destination, :required => false

  = f.button :submit

- content_for :script do
  :javascript
    $(document).ready(function(){
      $('.duration-slider').slider({
        max    : #{Timer::MAX_DURATION},
        min    : #{Timer::MIN_DURATION},
        value  : $('#timer_duration').val(),
        change : function(event, ui){
          $('#timer_duration').val(ui.value);
        }
      });
    });
