.row
  .columns.small-12
    %h4 Create your Oink Timer!
    %hr
    %h5 Please complete the following fields to create your order:
    = simple_form_for @timer do |f|
      = f.input :name, :label => "Your Name"
      = f.input :description, :label => "A brief description of what we're wrapping in bacon (this helps keep your orders organized!)"

      .panel{:style => "padding-bottom:2.5em"}
        = f.label "How would you like your bacon prepared?"
        .duration-slider
        = f.input :duration, :as => :hidden, :input_html => {:value => Timer.default_duration}

        .container
          .left{:style => "float:left;text-align:left"} Chewy
          .right{:style => "float:right;text-align:right"} Crispy
          .clear{:style => "float:clear"}
      
      %div.clearfix
        %p
        %h5 Choose a(n optional) method of notification:
        If you'd like to hang out near the break room, you're more than welcome to do that, and we'll holler at you when your bacon is ready!  If time allows, we might even have a robot deliver your order TO you!
        %p
        If you'd like to receive an automated alert when your bacon is ready, simply fill out one of the options below with the relevant information.
        %p
        - Notification::VALID_TYPES.each do |type|
          = f.simple_fields_for :"#{type.underscore}" do |notification_form|
            = notification_form.input :destination, :required => false, :label => type.constantize.label, :placeholder => type.constantize.placeholder
      %p
      = f.button :submit, "Submit Order!", :class => "large round success"

- content_for :script do
  :javascript
    $(document).ready(function(){
      $('.duration-slider').slider({
        max    : #{Timer::MAX_DURATION},
        min    : #{Timer::MIN_DURATION},
        value  : $('#timer_duration').val(),
        change : function(event, ui){
          $('#timer_duration').val(ui.value);
        }
      });
    });
